@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.recipe {
    padding: 1.25rem;
    background-image: linear-gradient(to right bottom, rgba(170, 179, 140, .5), rgba(204, 213, 174, .5));
    border-radius: .5rem;
    width: 20%;
    min-width: 300px;
    margin: .75rem;
    height: 500px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
    color: #606060;
}

.recipe img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
}

.recipe h2 {
    text-align: center;
    font-size: xx-large;
}

.recipe h6 {
    text-decoration: underline;
}

.recipe .recipeFooter {
    display: flex;
    justify-content: space-between;
}

.recipeFooter a {
    text-decoration: underline;
}

.recipePage h1,
.recipePage h2,
.recipePage p,
.recipePage ul {
    margin-bottom: 1rem !important;
}

.recipePage h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #D4A373;
    text-align: center;
}

.recipePage h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration-line: underline;
    color: #D4A373;
}

.recipePage ul {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #AAB38C;
}

.recipePage p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #AAB38C;
}

input:focus,
input,
select,
select:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    .recipeContainer {
        flex-direction: column;
        align-items: center;
    }

    .recipe {
        width: 75%;
    }

    nav {
        font-size: x-large !important;
    }

    .recipePage h1 {
        font-size: x-large !important;
    }

    .recipePage h2 {
        font-size: large !important;
    }

    .recipePage p,
    .recipe ul {
        font-size: medium !important;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 600px) {
    .recipeContainer {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .recipe {
        width: 40%;
    }
}